.curiosities{
  height: 400px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 100px;
}

.curiosities--img{
  position: absolute;

  img{
    margin: 10px;
  }
}

.curiosities__content{
  line-height: 35px;
  margin-left: 500px;
  position: relative;
  width: 600px;

  .curiosities--title{
    font-size: 45px;
    text-align: center;
  }

  p{
    margin-bottom: 40px;
    text-align: left;
  }
  a{
    margin-left: 80%;
  }
}
