//footer
.footer {
  background-color: $beige;
  font-weight: bold;
  height: 148px ;
  margin: 0 auto;
  width: 1280px;
}

.foo-menu {
  float: left;
  margin-left: 165px;
  margin-top: 32px;
}

.foo-nav-list {

  li{
    float: left;
    list-style: none;
    margin-top: 0;
  }

  li+li{
    margin-left: 60px;
  }
}
.nav-foo {

  a{
    color: $dark-brown;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover{
    color: $light-brown-hover;
    text-decoration: underline;
  }
}
.follow-us{
  display: block;
  float: right;
  margin-right: 245px;
  margin-top: 29px;

  p{
    margin-bottom: 0;
  }

  img{
    margin-top: 6px;
}

  .ig {
    margin-right: 6px;
  }
}

.copyright {
  margin-left: 38px;
  margin-top: 70px;
}
